<h1>Start a New Game</h1>

<div class="game-new form">
  <div class="row">
    {{view Ember.Select
        name="league"
        viewName="select"
        contentBinding="leagues"
        optionLabelPath="content.name"
        optionValuePath="content.id"
        prompt="Select a League"
        selectionBinding="league"}}

  </div>
  <div class="row">
    {{input value=name name="name" placeholder="Name your Game"}}
  </div>

  {{view LMS.GameInvitationsView}}

  <div class="row">
    <button {{action cancel}} class="cancel secondary">Cancel</button>
    <button {{action saveGame}} class="submit primary">Create</button>
  </div>
    
</div>