{{#view class="round-container" classNameBindings="isRoundClosed"}}
  <ul class="header">
    <li class="previous">
      {{#if previousRound}}
        {{#linkTo game.round previousRound}}&lt;&lt;{{/linkTo}}
      {{/if}}
    </li>
    <li class="title">
      <h2>Round {{number}}</h2>
      <strong>{{date startTime format="ddd dd MMM, yyyy"}}</strong>
    </li>
    <li class="next">
      {{#if nextRound}}
        {{#linkTo game.round nextRound}}&gt;&gt;{{/linkTo}}
      {{/if}}
    </li>
  </ul>
  <div class="round-close-message">
    {{#if isRoundClosed}}
      Round is closed
    {{else}}
      Round closes in {{timeToNow startTime currentTime}}
    {{/if}}
  </div>
  {{render "round/fixtures" fixtures}}
{{/view}}