<ul class="members with-lives unstyled">
{{#each membersWithLives}}
  <li>
    <img {{bindAttr src="profile.avatarImageUrl"}} class="avatar" />
    <div class="details">
      <h3>{{profile.name}}</h3>
      {{playerLives remainingLives lostLives}}
      <p class="correct-guesses elaboration">
        <strong>{{correctPredictions.length}}</strong> correct guesses so far
      </p>
    </div>
  </li>
{{/each}}
</ul>

<ul class="members without-lives unstyled">
{{#each membersWithoutLives}}
  <li>
    <img {{bindAttr src="profile.avatarImageUrl"}} class="avatar" />
    <div class="details">
      <h3>{{profile.name}}</h3>
      {{playerLives remainingLives lostLives}}
      <p class="knockout-message elaboration">
        <span>Knocked out in round {{knockoutFixture.round.number}} after</span>
        <span><strong>{{knockoutFixture.winningTeam.name}}</strong> defeated {{knockoutFixture.losingTeam.name}}</span>
      </p>
    </div>
  </li>
{{/each}}
</ul>

{{render 'game/pending_invitations'}}