<ul class="members unstyled">
{{#each controller}}
  <li>
    <img {{bindAttr src="profile.avatarImageUrl"}} class="avatar" />
    <div class="details">
      <h3>{{profile.name}}</h3>
      {{playerLives remainingLives lostLives}}
      {{#if isOutOfLives}}
        <p class="knockout-message elaboration">
          <span>Knocked out in round {{knockoutFixture.round.number}} after</span>
          <span><strong>{{knockoutFixture.winningTeam.name}}</strong> defeated {{knockoutFixture.losingTeam.name}}</span>
        </p>
      {{else}}
        <p class="correct-guesses elaboration">
          <!-- TODO: de-hardcode this number -->
          <strong>4</strong> correct guesses so far
        </p>
      {{/if}}
    </div>
  </li>
{{/each}}
</ul>
{{render 'game/pending_invitations'}}