{{#view tagName="li" classNameBindings="selectionClass"}}
  {{#linkTo 'game.round' this}}
    <div>Round {{number}}: {{date startTime format="ddd dd/MM/yyyy"}}</div>

    {{#if selectedTeam}}
      <div class="selection">
      {{#if isSelectionCorrect}}
        <i class="icon-ok-sign"></i>
      {{else}}
        <i class="icon-remove-sign"></i>
      {{/if}}
      <span>{{selectedTeam.name}} to defeat {{nonSelectedTeam.name}}</span>
      </div>
    {{/if}}
  {{/linkTo}}
{{/view}}