<div class="add-game-invitations">
  {{#if featureToggles.payments}}
    <p>
      Your game currently allows for {{maxAllowedPlayers}} players including you.
    </p>
  {{else}}
    <strong>Invite players to your game.</strong>
  {{/if}}
  <ul>
    {{#each gameInvitation in unsavedGameInvitations}}
      <li>{{gameInvitation.email}}</li>
    {{/each}}
  </ul>

  {{#if featureToggles.payments}}
    {{#if morePlayersAllowed}}
      <p class="player-count" {{bindAttr class="morePlayersAllowed::full"}}>
        You have {{totalPlayersRemaining}} players remaining.
      </p>
      <div class="add-email-container">
        {{input value=newEmail name="email" type="email" placeholder="Enter email" action="onEnterKey"}}
        <button class="add-email primary" {{action addEmail}} {{bindAttr disabled="isEmailInvalid"}}>Add</button>
      </div>
    {{else}}
      <button class="upgrade-account alert">Upgrade account to add more players</button>
      <p class="or">- OR -</p>
    {{/if}}
  {{else}}
    <div class="add-email-container">
      {{input value=newEmail name="email" type="email" placeholder="Enter email" action="onEnterKey"}}
      <button class="add-email primary" {{action addEmail}} {{bindAttr disabled="isEmailInvalid"}}>Add</button>
    </div>
  {{/if}}
  {{#if isCurrentUserEmail}}
    <div class="alert">
      There's no need to invite yourself.
    </div>
  {{else}}
    {{#if isExistingMemberEmail}}
      <div class="alert">
        There's an existing member with this email.
      </div>
    {{/if}}
    {{#if isExistingInvitationEmail}}
      <div class="alert">
        There's an existing invitation for this email
      </div>
    {{/if}}

  {{/if}}
</div>

