
{{partial 'app_navigation'}}

<div id="main-wrapper" {{bindAttr class="navigationVisible"}} {{bindAttr style="view.heightStyle"}}>
  <div id="header">
    {{#if controllers.currentUser.isSignedIn}}
      <button class="nav-toggle" {{action "toggleNavigation"}}>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    {{/if}}
    <h1>{{pageTitle}}</h1>
  </div>
  <div id="main">
    {{outlet}}
    <div {{bindAttr class=":new-version-mask isNewVersionAvailable"}}></div>
    <div {{bindAttr class=":new-version-message isNewVersionAvailable"}}>
      <div class="inner">
        <p>
          A new version of the app is available.
        </p>
        <button class="primary" {{action 'reload'}}>Get the Latest</button>
      </div>
    </div>
  </div>
</div>
