<div {{bindAttr class=":change-password isSaving"}}>
  <div class="form">
    {{view Ember.TextField type="hidden" valueBinding='resetPasswordToken'}}
    <div class="row">
      {{view Ember.TextField type="password" valueBinding='password' placeholder='New Password' action='changePassword'}}
      <div {{bindAttr class=':tip isPasswordLongEnough:valid:invalid'}}>Min 5 characters</div>
    </div>
    <div class="row">
      {{view Ember.TextField type="password" valueBinding='passwordConfirmation' placeholder='Confirm Password' action='changePassword'}}
    </div>
    {{#if errors.length}}
      <div class="row">
        <div class="alert">
          <ul class="unstyled">
            {{#each errors}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
    <div class="row">
      <button {{action cancel}} class="cancel secondary">Cancel</button>
      <button {{action changePassword}} class="submit primary" {{bindAttr disabled="isDisabled"}}><i class="icon-refresh icon-spin icon"></i><span>Submit</span></button>
    </div>
  </div>
</div>