<p>
  Your game currently allows for {{maxAllowedPlayers}} players including you.
</p>
<ul>
  {{#each gameInvitation in gameInvitations}}
    <li>{{gameInvitation.email}}</li>
  {{/each}}
</ul>

{{#if morePlayersAllowed}}
  <div class="player-count" {{bindAttr class="morePlayersAllowed::full"}}>
    {{totalPlayersRemaining}} players remaining.
  </div>
  {{input value=view.newEmail placeholder="Enter email"}}
  <button {{action addEmail target="view"}} {{bindAttr disabled="view.isEmailInvalid"}}>Add</button>
{{else}}
  <button>Upgrade account to add more players</button>
{{/if}}