<div class="game-container">
  {{render 'game_invitations_notification'}}
  {{#if isCurrentUserOutOfLives}}
    <div class="knockout-message">
      You were knocked out in round {{currentUserKnockoutFixture.round.number}} when
      <strong>{{currentUserKnockoutFixture.winningTeam.name}}</strong> defeated <strong>{{currentUserKnockoutFixture.losingTeam.name}}</strong>.
      {{#linkTo 'games.new'}}Start a new game{{/linkTo}}
    </div>
  {{else}}
    <div class="remaining-lives">
      {{playerLives currentUserRemainingLives currentUserLostLives}}
    </div>
  {{/if}}
  {{#if currentUserIsWinner}}
    <div class="game-win-message">
      Congrats! You're the last man standing!
      {{#linkTo 'games.new'}}Start a new game{{/linkTo}}
    </div>
  {{/if}}
  <ul class="nav unstyled">
    <li>{{#linkTo 'game.round' model model.currentRound}}This Round{{/linkTo}}</li>
    <li>{{#linkTo 'game.rounds' model}}All Rounds{{/linkTo}}</li>
    <li>{{#linkTo 'game.members' model}}Members{{/linkTo}}</li>
  </ul>

  {{outlet}}

</div>
