<div {{bindAttr class=":reset-password isSaving"}}>
  {{#if isSaved}}
    <p class="instructions">
      Check your email for instructions on how to reset your password.
    </p>
  {{else}}
    <div class="form">
      <div class="row">
        {{view Ember.TextField type="email" valueBinding='email' name='email' placeholder='Email' action="resetPassword"}}
      </div>
      {{#if errors.length}}
        <div class="row">
          <div class="alert">
            <ul class="unstyled">
              {{#each errors}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}
      <div class="row">
        <button {{action cancel}} class="cancel secondary">Cancel</button>
        <button {{action resetPassword}} class="submit primary" {{bindAttr disabled="isDisabled"}}><i class="icon-refresh icon-spin icon"></i><span>Reset</span></button>
      </div>
      <div class="sign-in-message">
        Already have an account? <br>
        {{#linkTo 'sign_in'}}Sign in.{{/linkTo}}
      </div>
    </div>
  {{/if}}
</div>
