<div {{bindAttr class=":sign-in isSaving"}}>
  <div class="form">
    <div class="row">
      {{view Ember.TextField type="email" valueBinding='email' name='email' placeholder='Email' action='signIn'}}
    </div>
    <div class="row">
      {{view Ember.TextField type="password" valueBinding='password' placeholder='Password' action='signIn'}}
    </div>
    {{#if errorMessage}}
      <div class="row">
        <div class="alert">
          {{errorMessage}}
        </div>
      </div>
    {{/if}}
    <div class="row">
      <button {{action cancel}} class="cancel secondary">Cancel</button>
      <button {{action signIn}} class="submit primary" {{bindAttr disabled="isDisabled"}}><i class="icon-refresh icon-spin icon"></i><span>Sign In</span></button>
    </div>
    <div class="sign-up-message">
      Don't have an account yet? <br>
      {{#linkTo 'sign_up'}}Sign up for free.{{/linkTo}}
    </div>
    <div class="reset-password-message">
      Forgotten your password? <br>
      {{#linkTo 'reset_password'}}Reset it here.{{/linkTo}}
    </div>
  </div>
</div>
