<!DOCTYPE html>
<html>
  <head>
    <title>LastManStanding</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0" />

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor" %>
    <%= javascript_include_tag "lastmanstanding" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="viewporter">
      <%= yield %>
    </div>
  </body>
</html>
